.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  .product img {
    max-width: 100%;
    align-items: center;
  }
  
  .product h3 {
    font-family: 'Montserrat', sans-serif;
    color: #ff0000;
    align-items: center;
  }
