body  {
    font-family: 'Roboto', sans-serif;
    color: #367c56;
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

header, footer {
    background-color: #222;
    color:  #f50000;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: circle;
    padding: 10;
}
nav ul li a {
    color: cgb (36, 0, 238);
    text-decoration: darkblue;
    font-family : 'Montserrat' , 'sans-serif'; 
}

nav ul li a:hover  {
    color: #ffd000;
}